.App {
  text-align: center;
  padding:15% 0 0 0;
}

.flex-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input {
  width: 400px;
  height: 20px;
  font-size: 1em;
  padding: 15px 30px;
  border: 0;
  border-radius: 60px;
  margin: 10px 0 10px 0;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #7e75f5;
}

button {
  height: 50px;
  width: 200px;
  background-color: #7e75f5;
  color: white;
  border:0;
  border-radius: 50px;
  font-size: 1em;
}

button:disabled {
  opacity: 0.5;
}

button:focus {
  outline:none;
  box-shadow: 0 0 0 1pt #5146f1;
}

body {
  background-color: #F3EFF6;
}

.loading {
  position: fixed;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 2.5em;
}

.full-width {
  max-width:1600px;
  align-items: left;
}

.title {
  font-size: 1.5em;
}

.logo {
  max-height: 100px;

}
