.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input {
  width: 50%;
  font-size: 2.5em;
  padding: 3% 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 50px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt pink;
}

button {
  height: 8%;
  width: 12%;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #a283b9;
  color: white;
  border:0;
  border-radius: 50px;
  font-size: 1.5em;
}

button:focus {
  outline:none;
  box-shadow: 0 0 3pt 2pt pink;
}

body {
  background-color: #F3EFF6;
}

.loading {
  position: fixed;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 2.5em;
}

